[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 45623484
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
